<html>
	<head>
		<title>Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="#">Django Girls Blog</a></h1>
		</div>
		<div>
			<p>published: 14.06.2014, 12:24</p>
			<h2><a href="#">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum velit vel tincidunt tempus. Quisque sit amet dapibus turpis. Etiam nec dapibus turpis. Fusce dapibus facilisis ipsum vel porttitor. Pellentesque imperdiet interdum sem, sed aliquam est elementum vel.</p>
		</div>
		<div>
			<p>published: 14.06.2014, 12:24</p>
			<h2><a href="#">My second post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum velit vel tincidunt tempus. Quisque sit amet dapibus turpis. Etiam nec dapibus turpis. Fusce dapibus facilisis ipsum vel porttitor. Pellentesque imperdiet interdum sem, sed aliquam est elementum vel.</p>
		</div>
	</body>
</html>